{% extends 'base.html.twig' %}

{% block title %}Presupuestos{% endblock %}

{% block body %}
<div class="container-fluid">
<div class="card border-primary mb-3" >
    <div class="card-header">Presupuesto</div>
    <div class="card-body">
      <h5 class="card-title">Listado de Presupuestos</h5>

        <div class="conteiner">
            <div class="my-2 text-left">
                <button class="btn btn-primary" data-toggle="modal" data-target="#exampleModalCenter" onClick="modalIngreso()" type="button">Nueva Presupuesto</button>
            </div>

                <div class="row">
                    <div class="col-2">
                      
                            <label>Fecha Desde</label>

                            <input type="date" class="form-control" name="fechaInicio" id="fechaInicio"/>
                        
                    </div>
                    <div class="col-2">
                       
                            <label>Fecha Hasta</label>
                            <input type="date" class="form-control" name="fechaFin" id="fechaFin"/>
                       
                    </div>
                    <div class="col-2" >
                        <div>&nbsp;</div>
                        <button class="btn btn-primary" data-toggle="modal" data-target="#exampleModalCenter" type="button" onClick="tabla()">Buscar</button>
                    </div>
                </div>
                
              <div id='tablaReservas'></div>
        </div>
    </div>
</div>


<div id="modalIngreso"></div>

<div id="modalReserva"></div>

</div>
{% endblock %}

{% block javascripts %} 
{{ parent() }}
  <script type='text/javascript' src='{{ asset('/js/presupuestos.js')}}'></script>
{% endblock%}
